* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #31a7df;
    font-family: 'Roboto', sans-serif;
    font-size: 3vh;
    font-weight: 600;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh; /* Damit der Inhalt zentriert wird */
}

.container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1 {
    position: absolute;
    top: 8vh;
    padding: 10px;
    font-size: 4vh;
    font-weight: 600;
    background-color: #31a7df;
    color: #050801;
}

button {
    border-radius: 30px;
    width: 20vw;
    height: 10vh;
    border-radius: 5px;
    border: none;
    background-color: #fff;
    font-size: 2vh;
    font-weight: 600;
    margin-top: 2vh;
    margin-bottom: 20vh;
    cursor: pointer;
}

button:hover {
    color: #000000;
    transform: scale(1.15);
    transition: 0.37s ease-in, 0.37 ease-out;
}

.output_box {
    display: flex;
}

output {
    background-color: #fff;
    height: 5vh;
    width: 10vw;
    font-size: 2vh;
    font-weight: 600;
    color: #fff;
}

#output_one,
#output_two,
#output_three,
#output_four {
    font-size: 24px;
    font-weight: bold;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

@media screen and (max-width: 600px) {
    body {
        font-size: 2vh;
    }
    h1 {
        margin-top: ;
        font-size: 3vh;
    }
    button {
        width: 40vw;
        height: 5vh;
        font-size: 2vh;
    }
    output {
        width: 16vw;
        height: 4vh;
        font-size: 2vh;
    }
    #output_one,
    #output_two,
    #output_three,
    #output_four {
        font-size: 2vh;

    }
}
